{
  "printWidth": 120,
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^(Mutations|Queries|utils|context)(/.*|$)", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
